@page "{id:int}"
@model FoodDetails

@{
    ViewData["Title"] = "Elintarvike";
}

<section>
    <h1
        class="text-xl pb-5">
        @Model.Food.Name
    </h1>

    <ul>

        @foreach (var foodDetailsGrouping in Model.FoodDetailsData)
        {
            <li>
                <details>
                    <summary
                        class="border-lime-200
                        rounded-t-1
                        w-full
                        cursor-pointer
                        items-center
                        border-b
                        border-solid
                        p-4
                        font-semibold">
                        @foodDetailsGrouping.ComponentClass.Description
                    </summary>
                    <ul>
                        @foreach (var foodDetails in foodDetailsGrouping.FoodDetailsModels)
                        {
                            <li
                                class="px-4 py-2">
                                @foodDetails.Name
                                @foodDetails.Value
                                @foodDetails.Unit
                            </li>
                        }
                    </ul>
                </details>
            </li>
        }
    </ul>
</section>